{% extends "base.html" %}

{% block navbar_form %}
  <form class="d-none d-md-flex ms-auto" method="post" role="search">
    <input type="text" name="query" class="form-control form-control-sm me-2" disabled>
    <button type="submit" class="btn btn-secondary btn-sm" disabled>Search</button>
  </form>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-5 col-12 album">
      <div class="card bg-body-tertiary mb-2">
        <div class="p-1">
          <img src="{{ album.artpath }}" class="img-fluid rounded-1">
        </div>
        <div class="caption-overlay">
          <strong>{{ album.album }}</strong>
          <small class="text-muted">{{ album.year }}</small>
          <br>
          <span class="text-muted">{{ album.albumartist }}</span>
          <span class="float-end">
            <button type="button" class="btn btn-link btn-sm" id="btn-get-album">
              <span class="fa-solid fa-download"></span>
            </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-7 col-12">
      {% for disc in range(album.disctotal) %}
          {% set disc_loop = loop %}
          <p><strong>Disc: {{ loop.index }}</strong></p>
          <table class="table table-hover table-ellipsis">
            <thead>
              <tr>
                <th><i class="fa-solid fa-eject ps-2"></i></th>
                <th>Title</th>
                <th>Artist</th>
                <th class="d-none d-sm-table-cell">Duration</th>
                <th class="d-none d-sm-table-cell"><i class="fa-solid fa-download"></i></th>
              </tr>
            </thead>
            <tbody>
            {% for track in album.tracks %}
              {% if track.disc == disc_loop.index %}
              <tr>
                <td>
                  <button class="btn btn-link btn-sm btn-eject" value="{{ loop.index }}">
                    <span class="fa-solid fa-eject"></span>
                  </button>
              </td>
                <td>
                    {{ track.title }}
                    <span id="track-marker-{{ loop.index }}" style="display:none">
                      <sup><i class="fa-solid fa-heart-pulse fa-beat"></i></sup>
                    </span>
                </td>
                <td>
                  {{ track.artist }}
                </td>
                <td class="d-none d-sm-table-cell">
                  {{ track.length|duration }}
                </td>
                <td class="d-none d-sm-table-cell">
                    <a href="{{ track.path }}" hx-boost="false">
                    <i class="fa-solid fa-download"></i>
                  </a>
                </td>
              </tr>
              {% endif %}
            {% endfor %}
            </tbody>
          </table>
      {% endfor %}
    </div>
  </div>
  <script type="application/json" id="album-data">
  {"tracks": [{% for track in album.tracks %}{"file": {{ track.path|tojson }}, "title": {{ track.title|tojson }}, "id": "#track-{{ track.id }}"}{% if not loop.last %}, {% endif %}{% endfor %}], "album": {"id": {{ album.id }}, "album": {{ album.album|tojson }}, "albumartist": {{ album.albumartist|tojson }}}}
  </script>
{% endblock %}
