{% extends "base.html" %}

{% block navbar_form %}
  <form class="d-none d-md-flex ms-auto" method="post" role="search">
    <input type="text" name="query" class="form-control form-control-sm me-2">
    <button type="submit" class="btn btn-secondary btn-sm">Search</button>
  </form>
{% endblock %}

{% block content %}
  {% for artist in artists %}
    <div class="row">
      <div class="col-12 mb-2">
          <div class="fs-5 ps-1">
              {{ artist.artist }}
          </div>
      </div>
    </div>
    <div class="row">
    {% for album in artist.albums %}
    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <div class="card bg-body-tertiary mb-2">
          <div class="p-1">
            <a href="{{ url_for('get_album', album_id=album.id) }}">
              <img src="{{ album.artpath }}" class="img-fluid rounded-1">
            </a>
          </div>
          <div class="caption-overlay">
            <strong>{{ album.album }}</strong><br>
            <span class="text-muted">{{ album.albumartist }}</span>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  {% endfor %}
{% endblock %}
