<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Beets Store. A plugin for the misc geek's media organizer.">
  <meta name="author" content="Tobias Schäfer">
  <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
  <link href="//fonts.googleapis.com/css?family=Robot" rel="stylesheet" type="text/css">

  <title>Beets</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-3.4.1.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome-4.7.0.min.css') }}">
  <style type="text/css">
    body {
      padding-top: 70px;
      font-family: 'Robot', sans-serif;
    }
    .caption-overlay {
      bottom:0;
      left:0;
      position: absolute;
      width: 100%;
      background: rgba(255, 255, 255, 0.7);
    }
    .thumbnail-relative {
      position:relative;
    }
  </style>

  {% block style %}{% endblock %}

</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href={{ url_for('.get_albums') }}>Albums</a>
          </li>
          <li>
            <a href="{{ url_for('.get_artists') }}">Artists</a>
          </li>
          <li>
            <a href="{{ url_for('.get_tracks') }}">Tracks</a>
          </li>
        </ul>
        {% block navbar_form %}{% endblock %}
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    {% block content %}{% endblock %}
  </div>

  <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-3.4.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/holder-2.7.1.min.js') }}"></script>
  {% block script %}{% endblock %}
</body>
</html>
