{% extends "base.html" %}

{% block navbar_form %}
  <form class="d-none d-md-flex ms-auto" method="post" role="search">
    <input type="text" name="query" class="form-control form-control-sm me-2">
    <button type="submit" class="btn btn-secondary btn-sm">Search</button>
  </form>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <table class="table table-hover table-ellipsis">
        <thead>
          <tr>
            <th class="d-none d-sm-table-cell"><i class="fa-solid fa-download"></i></th>
            <th>Title</th>
            <th>Artist</th>
            <th class="d-none d-sm-table-cell">Duration</th>
            <th>Album</th>
          </tr>
        </thead>
        <tbody>
          {% for track in tracks %}
          <tr>
            <td class="d-none d-sm-table-cell">
              <a href="{{ track.path }}" hx-boost="false">
                <i class="fa-solid fa-download"></i>
              </a>
            </td>
            <td>{{ track.title }}</td>
            <td>
              {{ track.artist }}
            </td>
            <td class="d-none d-sm-table-cell">{{ track.length|duration }}</td>
            <td>
              <a href="{{ url_for('get_album', album_id=track.album_id) }}">
                {{ track.album }}
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
